body {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff'),
        url('Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  /* Все заголовки шрифт -ното */
  h1, h2, h3, h4, h5 {
    font-family: 'Noto Serif', serif;
  }
  /* Убираю красоту с сылок */
  a{
    text-decoration: none;
    color: rgb(255, 0, 0);
  }
.header {
  background-image: url(images/bgmain/bgc.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}
.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.header-top{
  padding: 20px 0 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.left_block {
  display: flex;
}
.left_bar{
  display: flex;
  justify-content: space-around;
}
.obj1, .obj2, .obj3{
  list-style-type: none;
  margin-right: 40px;
}
.logo {
}
.right_block {
  display: flex;
justify-content: space-around;
}
.search {
  padding-right: 25px;
  cursor: pointer;
}
.login {
  padding-left: 40px;
  cursor: pointer;
}
.icon1, .icon2 {
  height: 1rem;
  padding-left: 30px;
  cursor: pointer;
}
.icon2 {
}

.middle-header-text {
  display: flex;
  flex-direction: column;
  
  /* justify-content: center; */
}
button {
display: flex;
flex-direction: row;
align-items: center;
padding: 15px 35px;
width: 261px;
height: 51px;
/* left: 830px;
top: 699px; */
background: #333333;
border: 1px solid #FFFFFF;
box-sizing: border-box;
font-weight: 500;
color: #FFFFFF;
}
.header-footer{

}